@import 'index';

.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $indigo;
    box-shadow: inset 0 1px 5px $mid-light-blue;
    color: $mid-light-blue;
    padding: 1rem 0;
    
    .mobile-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .li-mobile-footer {
            margin: 0 4.5vw;
            flex-direction: column;
            cursor: pointer;
            align-items: center;
        
            a {
                color: $mid-light-blue;
            }
            .icon {
                font-size: 2.5rem;
                width: 100%;
            }
            .icon-desc {
                margin-top: 0.2rem;
                font-weight: 300;
                text-align: center;
            }
        }
    }

    .mobile-credits {
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
        font-size: 0.7rem;
        
        .credit1 {
            border-left: 1px solid $mid-light-blue;
            padding-left: 0.5rem;
        }
        .credit2 {
            padding-right: 0.5rem;
        }

        a {
            color: $mid-light-blue;
            font-size: 0.7rem;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 329px) {
    .footer {
        .mobile-contact {
            .li-mobile-footer {
                margin: 0 3vw;

                .icon {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 365px) and (min-width: 330px) {
    .footer {
        .mobile-contact {
            .li-mobile-footer {
                margin: 0 4vw;
            }
        }
    }
}