@import 'App';

.footer-desk {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $indigo;
    box-shadow: inset 1px 1px 5px $mid-light-blue;
    color: $mid-light-blue;
    display: flex;
    justify-content: center;
    padding: 1rem;

    .footer-section-desk {
        border-left: 1px solid $mid-light-blue;
        border-left-style: dotted;
        text-align: center;
        padding: 0 8vw;
        display: flex;
        flex-direction: column;

        li:first-of-type {
            font-size: 0.8rem;
            font-weight: bold;
        }
        li {
            font-size: 0.7rem;
            margin: 0.25rem 0;
        }
        a {
            color: $mid-light-blue;
        }
        .icon-desk {
            font-size: 1.25rem;
        }
    }
    .footer-section-desk:last-of-type {
        border-left: hidden;
        li {
            display: flex;
            align-items: center;
            p {
                margin-right: 0.5rem;
            }
        }
        .section-contact-desk {
            justify-content: center;
        }
    }

    
}
// display: flex;
// justify-content: space-around;
// align-items: center;

// button {
//     cursor: pointer;
//     font-size: 3rem;
//     font-weight: 300;
//     color: rgb(151, 151, 151);
//     border: hidden;
//     background-color: rgb(230, 230, 230);
// }

// button:hover {
//     text-shadow: 2px 2px $yellow;
// }

// button:focus {
//     outline: 0;
// }
