/* COLORS */
$light-blue: rgb(214, 230, 255);
$mid-light-blue: rgb(135, 183, 255);
$turquoise: rgb(24, 190, 223);
$dark-blue: rgb(0, 13, 87);
$indigo: rgb(0, 21, 139);

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Rubik:wght@300;400;500;700;900&display=swap" rel="stylesheet');
// font-family: 'Rubik', sans-serif;
// font-family: 'Amatic SC', cursive;

/* TILTED EDGES */
$tilted: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

/* BASICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    direction: rtl;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: $light-blue;
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}