@import 'index';

.therapy {
    margin: 10rem auto;
    width: 100%;

    .buttons {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: fit-content;
        box-shadow: 1px 1px 3px rgba(88, 88, 88, 0.918);
        
        .button {
            padding: 3vh 3vw;
            color: $indigo;
            background-color: rgb(24, 160, 223);
            border: none;
            cursor: pointer;
        }
        .button:first-of-type {
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
        }
        .button:last-of-type {
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
        }
        button:focus {
            outline: 0;
        }

        .selected {
            font-weight: bolder;
        }

        #AccessBars { background-color: rgb(25, 160, 225); }
        #ThetaHealing { background-color: rgb(30, 165, 230); }
        #TarotCards { background-color: rgb(35, 170, 235); }
        #BachFlowers { background-color: rgb(40, 175, 240); }
        #Crystals { background-color: rgb(45, 180, 245); }
    }

    .therapy-content {
        width: 60%;
        height: fit-content;
        margin: 2rem auto;
        line-height: 1.25;
        
        li {
            margin: 0.5rem 0;
        }
        .therapy-card {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            box-shadow: inset 1px 1px 3px rgb(255, 255, 255);
            padding: 1rem 2rem 2rem;
            text-align: justify;
            color: $indigo;
            background-color: $mid-light-blue;
            border-radius: 0.1rem;
            opacity: 0;
            animation: appear .5s ease-in forwards;

            .therapy-title {
                font-size: 1.5rem;
                direction: ltr;
                text-align: right;
                font-weight: bold;
            }

            .therapy-img {
                width: fit-content;
                box-shadow: 1px 1px 10px rgb(255, 255, 255);
                img {
                    border-radius: 0.1rem;
                    display: block;
                    max-width: 100%;
                }
            }
            
            .therapy-adv {
                .adv-ul {
                    li:first-of-type {
                        font-weight: bold;
                    }
                }
            }

            .therapy-desc2 {
                .desc2-ul {
                    li:first-of-type, li:last-of-type {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @keyframes appear {
        100% {opacity: 1;}
    }
}

@media screen and (max-width: 449px) {
    .therapy {
        .buttons {
            margin: 0 0.5rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .therapy {
        margin: 6.5rem auto;
        
        .therapy-content {
            .therapy-card {
                .therapy-title {
                    font-size: 5.5vw;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .therapy {
        .therapy-content {
            width: 90%;
        }
    }
}